*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

.page {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.page:nth-child(1) {
  background-image: url("img/realshots.jpg");
}

.page:nth-child(2) {
  background-image: url("img/init.jpg");
}

.page:nth-child(3) {
  background-image: url("img/add.jpg");
}

.page:nth-child(4) {
  background-image: url("img/complete.jpg");
}

.page:nth-child(5) {
  background-image: url("img/future.jpg");
}

.flex-1 {
  flex: 1;
}

/* Expo icon */
.expo {
  color: rgba(36, 44, 58, 0.8);
  font-size: 24px;
  flex-shrink: 0;
  width: 200px;
  height: 45px;
  padding: 8px;
  border-radius: 4px;
  white-space: nowrap;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.07);
}
